<%= link_to "New Contact",  new_name_path %>
<h2>Contacts</h2>

 <table >
    <tr>
      <th>Name</th>
     
      <th>City</th>
      <th>State</th>
      <th>Cell Phone</th>
    </tr>
    <% @names.each do |name| %>
    <tr>
      <td><%=  name.full_name %></td>
      
      <td><%= name.city %></td>
      <td><%= name.state_abbr %></td >
      <td><%= name.cell_phone %></td>

      <td><%= link_to "Show", name_path(name.id) %></td>
    </tr>
    <% end %>
  </table>
</div>